# Root ignores
node_modules/
.expo/
dist/
android/.gradle/
ios/.gradle/

# Mobile app ignores
mobile_app/node_modules/
mobile_app/.expo/
mobile_app/dist/
mobile_app/android/.gradle/
mobile_app/ios/.gradle/
mobile_app/android/build/
mobile_app/ios/build/
